[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = typescript react tabs
[access "refs/*"]
	owner = group user/Berry Phillips (berryp)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Berry Phillips (berryp)
	label-Verified = -1..+1 group user/Berry Phillips (berryp)
	push = group user/Berry Phillips (berryp)
	read = group user/Berry Phillips (berryp)
	rebase = group user/Berry Phillips (berryp)
	removeReviewer = group user/Berry Phillips (berryp)
	submit = group user/Berry Phillips (berryp)
[access "refs/heads/*"]
	create = group user/Berry Phillips (berryp)
	push = +force group user/Berry Phillips (berryp)
	pushMerge = group user/Berry Phillips (berryp)
	read = group user/Berry Phillips (berryp)
[access "refs/tags/*"]
	push = group user/Berry Phillips (berryp)
	push = +force group user/Berry Phillips (berryp)
